// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$sinai-1002: #0CCA47;
$sinai-1002-invert: findColorInvert($sinai-1002);
$sinai-1002-light: findLightColor($sinai-1002);
$sinai-1002-dark: findDarkColor($sinai-1002);
$sinai-1003: #D4FFC7;
$sinai-1003-invert: findColorInvert($sinai-1003);
$sinai-1003-light: findLightColor($sinai-1003);
$sinai-1003-dark: findDarkColor($sinai-1003);
$sinai-None: #ffffff;
$sinai-None-invert: findColorInvert($sinai-None);
$sinai-None-light: findLightColor($sinai-None);
$sinai-None-dark: findDarkColor($sinai-None);
$sinai-2001: #22F387;
$sinai-2001-invert: findColorInvert($sinai-2001);
$sinai-2001-light: findLightColor($sinai-2001);
$sinai-2001-dark: findDarkColor($sinai-2001);
$sinai-2002: #83B83F;
$sinai-2002-invert: findColorInvert($sinai-2002);
$sinai-2002-light: findLightColor($sinai-2002);
$sinai-2002-dark: findDarkColor($sinai-2002);
$sinai-2003: #A2413A;
$sinai-2003-invert: findColorInvert($sinai-2003);
$sinai-2003-light: findLightColor($sinai-2003);
$sinai-2003-dark: findDarkColor($sinai-2003);
$sinai-2004: #8054BD;
$sinai-2004-invert: findColorInvert($sinai-2004);
$sinai-2004-light: findLightColor($sinai-2004);
$sinai-2004-dark: findDarkColor($sinai-2004);
$sinai-2005: #956868;
$sinai-2005-invert: findColorInvert($sinai-2005);
$sinai-2005-light: findLightColor($sinai-2005);
$sinai-2005-dark: findDarkColor($sinai-2005);
$sinai-3001: #D4F2B0;
$sinai-3001-invert: findColorInvert($sinai-3001);
$sinai-3001-light: findLightColor($sinai-3001);
$sinai-3001-dark: findDarkColor($sinai-3001);
$sinai-3002: #4BFDBE;
$sinai-3002-invert: findColorInvert($sinai-3002);
$sinai-3002-light: findLightColor($sinai-3002);
$sinai-3002-dark: findDarkColor($sinai-3002);
$sinai-4001: #0FE68F;
$sinai-4001-invert: findColorInvert($sinai-4001);
$sinai-4001-light: findLightColor($sinai-4001);
$sinai-4001-dark: findDarkColor($sinai-4001);
$sinai-4002: #EC9836;
$sinai-4002-invert: findColorInvert($sinai-4002);
$sinai-4002-light: findLightColor($sinai-4002);
$sinai-4002-dark: findDarkColor($sinai-4002);
$sinai-4003: #94EF6F;
$sinai-4003-invert: findColorInvert($sinai-4003);
$sinai-4003-light: findLightColor($sinai-4003);
$sinai-4003-dark: findDarkColor($sinai-4003);
$sinai-5001: #398AF9;
$sinai-5001-invert: findColorInvert($sinai-5001);
$sinai-5001-light: findLightColor($sinai-5001);
$sinai-5001-dark: findDarkColor($sinai-5001);
$sinai-5002: #FADE9E;
$sinai-5002-invert: findColorInvert($sinai-5002);
$sinai-5002-light: findLightColor($sinai-5002);
$sinai-5002-dark: findDarkColor($sinai-5002);
$sinai-6002: #2EA05F;
$sinai-6002-invert: findColorInvert($sinai-6002);
$sinai-6002-light: findLightColor($sinai-6002);
$sinai-6002-dark: findDarkColor($sinai-6002);
$sinai-6003: #057E6F;
$sinai-6003-invert: findColorInvert($sinai-6003);
$sinai-6003-light: findLightColor($sinai-6003);
$sinai-6003-dark: findDarkColor($sinai-6003);
$sinai-6004: #A20C02;
$sinai-6004-invert: findColorInvert($sinai-6004);
$sinai-6004-light: findLightColor($sinai-6004);
$sinai-6004-dark: findDarkColor($sinai-6004);
$sinai-6005: #E89B13;
$sinai-6005-invert: findColorInvert($sinai-6005);
$sinai-6005-light: findLightColor($sinai-6005);
$sinai-6005-dark: findDarkColor($sinai-6005);
$sinai-7002: #7D9DD0;
$sinai-7002-invert: findColorInvert($sinai-7002);
$sinai-7002-light: findLightColor($sinai-7002);
$sinai-7002-dark: findDarkColor($sinai-7002);
$sinai-7003: #518751;
$sinai-7003-invert: findColorInvert($sinai-7003);
$sinai-7003-light: findLightColor($sinai-7003);
$sinai-7003-dark: findDarkColor($sinai-7003);

$custom-colors: ("sinai-1002": $sinai-1002,
"sinai-1003": $sinai-1003,
"sinai-None": $sinai-None,
"sinai-2001": $sinai-2001,
"sinai-2002": $sinai-2002,
"sinai-2003": $sinai-2003,
"sinai-2004": $sinai-2004,
"sinai-2005": $sinai-2005,
"sinai-3001": $sinai-3001,
"sinai-3002": $sinai-3002,
"sinai-4001": $sinai-4001,
"sinai-4002": $sinai-4002,
"sinai-4003": $sinai-4003,
"sinai-5001": $sinai-5001,
"sinai-5002": $sinai-5002,
"sinai-6002": $sinai-6002,
"sinai-6003": $sinai-6003,
"sinai-6004": $sinai-6004,
"sinai-6005": $sinai-6005,
"sinai-7002": $sinai-7002,
"sinai-7003": $sinai-7003,) !default;$custom-shades: null !default;


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        'white': (
            $white,
            $black,
        ),
        'black': (
            $black,
            $white,
        ),
        'light': (
            $light,
            $light-invert,
        ),
        'dark': (
            $dark,
            $dark-invert,
        ),
        'primary': (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        'link': (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        'info': (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        'success': (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        'warning': (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        'danger': (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        )
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Buefy variables -- https://bulma.io/documentation/customize/variables/
$size-small: 0.85rem;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';